asttokens==3.0.1
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
executing==2.2.1
icecream==2.2.0
idna==3.11
Pygments==2.20.0
requests==2.31.0
soupsieve==2.8.3
types-requests==2.33.0.20260408
typing_extensions==4.15.0
urllib3==2.6.3
